/* Start Pagenation */
.pagination{ display: list-item; }
ul.pagination li { display: inline; font-size: 12px; font-weight: bold; }
ul.pagination li a { color: black; padding: 8px 14px; text-decoration: none; transition: background-color .3s; border: 1px solid #ddd; /*margin: 4px;*/ }
ul.pagination li a.active { background-color: #4CAF50; padding: 8px 14px; /*margin: 4px;*/ color: white; border-bottom: 1px solid #2082d9; }
ul.pagination li.active { /*background-color: #4CAF50;*/ background-color: #687282; padding: 8px 14px; /*margin: 4px;*/ color: white; border-bottom: 1px solid #2082d9; }
/*ul.pagination li a:hover:not(.active) {background-color: #ddd;}*/
ul.pagination li a:hover {background-color: #999999;}
ul.pagination li.disabled { /*background-color: #cccccc;*/ color: #ddd; padding: 8px 14px; border: 1px solid #ddd; /* margin: 4px;*/ }
/* End Pagenation */